.form-row{
	padding-bottom: 23px;
}
.btn-warning{
	color: #ffffff;
}
.card-register{
	max-width: 60rem;
}
.progress_bar{
	 padding-top: 2em;
}
.seccion11,.seccion22,.seccion33,.seccion44{
	height: 170px;
	width: 280px;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: #d8d0d0;
}
.seccion1,.seccion2,.seccion3,.seccion4{
	height: 42px;
	width: 280px;
	margin-top: 1px;
	border-radius: 0px;
	background-color: #d8d0d0;
}
.seccion1>a:link,.seccion2>a:link,.seccion3>a:link,.seccion4>a:link{
	text-decoration: none;
	color: black;
}
.seccion1>a,.seccion2>a,.seccion3>a,.seccion4>a{
	text-decoration: none;
	color: black;
}
.seccion1>a:hover,.seccion2>a:hover,.seccion3>a:hover,.seccion4>a:hover{
	text-decoration: none;
	color: white;
	size: 13px;
}
.salir{
	background-color: red;
    width: 58px;
    height: 33px;
}
.seccion1>a>strong>span,.seccion2>a>strong>span,.seccion3>a>strong>span,.seccion4>a>strong>span{
	margin-top: 4px;
}
.seccion1:hover,.seccion2:hover,.seccion3:hover,.seccion4:hover	{
	background-color: red;
	color:white;
}
.imag{
	width: 178px;
    height: 122px;
    margin: 4px 0px 0px 46px;
}
.texto{
	color: black;
	margin-top: 3px;
}
.fondo{
	background-color: white;
}
.titulo{
	color: black;
}