/*///////////////////////////// [ TIPOS DE LETRAS ] //////////////////////////////////*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

/*///////////////////////////// [ TIPOS DE LETRAS ] //////////////////////////////////*/

/*///////////////////////////// [ ESTILOS GENERALES ] //////////////////////////////////*/
#prevBtn,#nextBtn{
  margin-left: 1em;
  border-radius: 25px;
}

input.invalid {
  background-color: #ffdddd;
}

select.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}
/*
button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
*/
#prevBtn {
  background-color: #bbbbbb;
}
.btn-next{
  color: #fff;
  background-color: #942fc5;
  border-color: #942fc5; 
  font-family: Poppins-Medium;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase; 
}

.btn-back{
  color: #fff;
  background-color: #bbbbbb;
  border-color: #bbbbbb; 
  font-family: Poppins-Medium;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase; 
}

a.back:hover{
  text-decoration: none;
  color: #fff;
  opacity: 0.8;
}
a.back:link{
  text-decoration: none;
  color: #fff;
}
.back{
  border-radius: 25px;
  color: #fff;
  background-color: #942fc5;
  border-color: #942fc5; 
  font-family: Poppins-Medium;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
}

.Fondo{
  background-image: url('../img/bg-01.jpg');
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}
.labe{
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #333333;
  line-height: 1.5;
  padding-left: 7px;
}
/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
.form-row{
  padding-bottom: 23px;
}
.btn-warning{
  color: #ffffff;
}
.card-register{
  max-width: 60rem;
  border-radius: 10px;
  width: 60%;
  min-width: 27rem;
  height: 20%;
}
.progress_bar{
  padding-top: 1em;
  padding-bottom: 1em;
}
.texto{
  color: black;
  margin-top: 3px;
}
.fondo{
  background-color: white;
}

/*///////////////////////////// [ ESTILOS GENERALES ] //////////////////////////////////*/

/*///////////////////////////// [ ESTILOS REGISTRAR ] //////////////////////////////////*/
.imag{
  width: 178px;
  height: 122px;
  margin: 4px 0px 0px 46px;
}

#Form_Registrar {
  background-color: #ffffff;
  margin: 5px auto;
  font-family: 'Roboto', sans-serif;
  width: 90%;
  min-width: 300px;
}

.button-label {
  display: inline-block;
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #efefef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button-label:hover {
  background: #d6d6d6;
  color: #101010;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}
.button-label:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}
@media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

/*///////////////////////////// [ RADIO SEXO ] //////////////////////////////////*/
#m-button:checked + .button-label {
  background: #806cef;
  color: #efefef;
}
#m-button:checked + .button-label:hover {
  background: #942fc5;
  color: #e2e2e2;
}
#h-button:checked + .button-label {
  background: #806cef;
  color: #fff;
}
#h-button:checked + .button-label:hover {
  background: #942fc5;
  color: #fff;
}
/*///////////////////////////// [ RADIO SEXO ] //////////////////////////////////*/

/*///////////////////////////// [ RADIO SERVIDOR ] //////////////////////////////////*/
#si-button:checked + .button-label {
  background: #806cef;
  color: #efefef;
}
#si-button:checked + .button-label:hover {
  background: #942fc5;
  color: #e2e2e2;
}
#no-button:checked + .button-label {
  background: #806cef;
  color: #fff;
}
#no-button:checked + .button-label:hover {
  background: #942fc5;
  color: #fff;
}
/*///////////////////////////// [ RADIO SERVIDOR ] //////////////////////////////////*/
.hidden {
  display: none;
}
.R-buttom{
  position: relative;
  display: inline-grid;
  padding-left: 1,25em;
}
#tamaño1,#tamaño2{
  color: #dc3d3d;
  font-size: 15px;
  display: none;
}
#igual1,#igual2{
  color: #dc3d3d;
  font-size: 15px;
  display: none;
}
/*///////////////////////////// [ ESTILOS REGISTRAR ] //////////////////////////////////*/

/*///////////////////////////// [ ESTILOS HOME ] //////////////////////////////////*/
.salir>a:link{
  text-decoration: none;
}
.salir>a:hover{
  text-decoration: none;
  color: white;
}
.salir:hover{
  opacity: 0.8;
}
.salir>a{
  color: white;
}
.salir{
  color: #fff;
  background-color: #942fc5;
  border-color: #942fc5; 
  font-family: Poppins-Medium;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase; 
}

.restar{
  color: #fff;
  background-color: #942fc5;
  border-color: #942fc5; 
  font-family: Poppins-Medium;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase; 
}
.restar:hover{
  opacity: 0.8;
}

a.Logout{
  color: #fff;
  background-color: #942fc5;
  border-color: #942fc5; 
  font-family: Poppins-Medium;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  padding: 9px;
}
a.Logout:link{
  text-decoration: none;
}
a.Logout:hover{
  text-decoration: none;
  color: white;
  opacity: 0.8;
}
.subtitulo{
  font-size: 19px;
}
.B_empezar{
  border-radius: 0px;
  width: 280px;
  height: 42px;
}
.B_empezar:hover{
  border-radius: 0px;
  color: white;
}
.titulo{
  font-family: Poppins-Regular;
  font-size: 36px;
  color: black;
  line-height: 1.5;
  padding-top: 16px;
}
.espacio{
  padding-top: 30px;
}

.seccion11,.seccion22,.seccion33,.seccion44{
  height: 170px;
  width: 280px;
  background-color: white;
  border-style: solid;
  border-width: 4px 4px 0px 4px;
  border-radius: 5px 5px 0px 0px;
  border-color: #e3e5e6;
}
/*///////////////////////////// [ ESTILOS HOME ] //////////////////////////////////*/


/*///////////////////////////// [ ESTILOS VIVIENDA ] //////////////////////////////////*/


/*///////////////////////////// [ ESTILOS VIVIENDA ] //////////////////////////////////*/


/*///////////////////////////// [ ESTILOS LOGIN ] //////////////////////////////////*/
.error{
  height: 48px;
  width: 100%;
  background-color: #942fc5;
  color: #fff;
  text-align: center;
  padding: 11px;
  font-size: 17px;
  position: absolute;
  border-radius:  0 0 24px 24px;
  display: none;
  z-index: 5;
}
.error-enviar{
  height: 48px;
  width: 100%;
  background-color: #942fc5;
  color: #fff;
  text-align: center;
  padding: 11px;
  font-size: 17px;
  position: absolute;
  border-radius:  0 0 24px 24px;
  display: none;
  z-index: 5;
}
.cargar{
  width: 26px;
  padding-right: 7px;
  display: none;
}
/*///////////////////////////// [ ESTILOS LOGIN ] //////////////////////////////////*/

.campos {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

.enviado{
  display: none;
}